<h1>Lightsabers</h1>

<hr>
<% @lightsabers.each do |lightsaber| %>
Owner:
<%= lightsaber.owner %>
<br>
Color:
<%= lightsaber.color  %>
<br>
<br>
<%= link_to "Edit", edit_lightsaber_path(lightsaber) %>
<%= link_to "Delete", lightsaber_path(lightsaber), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "View", lightsaber_path(lightsaber) %>
<hr>
<% end %>
<%= link_to "New Lightsaber", new_lightsaber_path %>
